body {
    line-height: 1.35;
    font-family:  "Fairplay Text A", "Georgia", serif;
}

@media screen and (min-width: 850px) { body { font-size: 20px; } }
@media screen and (max-width: 850px) { body { font-size: 19px; } }
@media screen and (max-width: 800px) { body { font-size: 18px; } }
@media screen and (max-width: 750px) { body { font-size: 17px; } }
@media screen and (max-width: 700px) { body { font-size: 16px; } }


/* reader mode: START */
#content {
    max-width: 40em;

    padding: 0;
    margin: 0;

    margin: 2em auto;

    /* 
     Without horizontal padding, toggling reader mode changes the position of the floating element on desktop.
     
     This doesn’t affect mobile view because padding gets overridden via a media query.
     
     The 4em value comes from the horizontal padding in `body.reader > #content {`
     */
    padding: 0 4em;
}

body.reader > #content {
    padding: 1.5em 4em;
    border-radius: 6px;
}

@media screen and (max-width: 900px) {
    #content, body { 
        margin: 0;
        max-width: 900px;
    }
    #content {
        padding: 1.5em;
    }
    body.reader > #content {
        padding: 1.5em;
        border-radius: 0px;
    }
    .reader_mode_button {
        display: none;
    }
}
/* reader mode: END */


ul {
    list-style-type: square;
    list-style-type: none;
}
li {
    padding-top: .4em;
    padding-bottom: .4em;
}
.toc li {
    padding: 0;
}
table {
    width: 100%;

    /* new stuff */
    border-collapse: collapse;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
}
table, td {
    font-size: inherit;
}
td {
    vertical-align: top;
    width: 50%;
    /* new stuff */
    padding: .5em 3em;
    padding: 8px 16px;
    padding: .4em .8em
}


/* START: Bordered Tables */

.bordered th, .bordered td {
    border: solid 2px #eee;
}

.bordered th {
    font-family: "Confluence C3";
    text-transform: uppercase;
    color: #aaa;
    background: floralwhite;
    border-bottom: solid 4px;
    text-align: left;
    padding: 8px;
    padding-left: 16px;
    padding: .4em;
    padding-left: .8em;
}
.bordered td {
    padding: 16px;
    padding: .8em;
}


.bordered th {
    color: brown;
    border-bottom-color: brown;
}
.bordered th + th {
    color: darkgreen;
    border-bottom-color: darkgreen;
}
/* END: Bordered Tables */


a {
    text-decoration: none;
    padding-bottom: 1px;
}
a:hover {
    border-bottom: solid 2px;
    outline: none;
}
a[href^="http"]:after {
    background-position: center right;
    background-repeat: no-repeat;
    content: "";
    background-image: url("external_link.svg");
    padding: 0 1em;
}

body .path a, body .path {
    font-style: italic;
}

h2 {
    text-align: center;
    margin: 0;
    padding-bottom: 1.5em;
}
h4 {
    font-family: "Confluence C3", sans-serif;
    text-transform: uppercase;

}


.hovercard {

    box-shadow: 2px 2px 8px 0px ;
    border-radius: 4px;
    position: fixed;
    max-width: 20em;

    background: brown;
    font-family: "Confluence T3";
    text-align: center;

    padding: .5em 1em;
    margin-top: 2em;
}
.hovercard * {
    color: white;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}
.hidden, .hovercard {
    transition:visibility 0.15s linear,opacity 0.15s linear;
}

.mobile_hovercard {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: white;
    box-shadow: 0 0 40px;
    padding: 1em 1em;
    width: -moz-available;          
    width: -webkit-fill-available; 
    font-family: "Confluence T4";
    background-color: brown;
    font-size: 16px;
}
.mobile_hovercard span {
    color: white;
}
.mobile_hovercard a {
    color: #ffffff;
    display: block;
    max-width: 25%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.8em;
    border-radius: 1em;
    border: solid;
}
.mobile_hidden {
    transform: translateY(110%);
    box-shadow: none;
}
.mobile_hovercard {
    transition: transform 0.3s ease-out;
    -webkit-transform 0.3s ease-out;
}

.right {
    position: relative;
    right: auto;
    float: right;
    color: #ccc;
    padding: 6px;
}
.right:hover {
    cursor: pointer;
    background: #df8787;
    color: white;
    border-radius: 8px;
}


h1 {
    text-align: center;
    font-size: 3em;
    margin-top: 0;
    /* font-family: "Fairplay Caps A subset", "Fairplay Caps A", "Fairplay Text A", "Georgia", serif; */
    font-family: "Fairplay Caps A subset", "Arial";
}

