body {
    line-height: 1.35;
    font-size: 20px;
    font-family: "Fairplay Text A";
}
@media screen and (max-width: 720px) { body { font-size: 16px; } }

* {
    scroll-behavior: smooth; 
}
#content {
    margin: 1em auto;
    max-width: 40em;
    padding: 0 1em;
}

ul {
    list-style-type: square;
}
table {
    width: 100%;
}
table, td {
    font-size: inherit;
}
td {
    vertical-align: top;
    width: 50%;
}
  
td ul {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

a[href^="#"] {
    color: black;
    border-bottom: dotted;
}
.toc a {
    color: #36c;
    border-bottom: none;
}
a {
    text-decoration: none;
    color: #36c;
    padding-bottom: 1px;
}
a:hover {
    border-bottom: solid 2px;
}

a[href^="http"]:after {
    background-position: center right;
    background-repeat: no-repeat;
    content: "";
    background-image: url("external_link.svg");
    padding: 0 1em;
}


.path a, .path  {
    color: #ccc;
    font-style: italic;
}
.path a:hover {
    color: black;
}


h2 {
    margin: 1.5em auto;
    text-align: center;
}
h4 {
    font-family: "Confluence T3";
}


.hovercard {

    box-shadow: 2px 2px 8px 0px ;
    border-radius: 4px;
    position: fixed;
    max-width: 20em;

    background: brown;
    font-family: "Confluence T3";
    text-align: center;

    padding: .5em 1em;
    margin-top: 2em;
}
.hovercard * {
    color: white;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}
.hidden, .hovercard {
    transition:visibility 0.15s linear,opacity 0.15s linear;
}

.mobile_hovercard {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: white;
    box-shadow: 0 0 40px;
    padding: 1em 1em;
    width: -moz-available;          
    width: -webkit-fill-available; 
    font-family: "Confluence T4";
    background-color: brown;
    font-size: 16px;
}
.mobile_hovercard span {
    color: white;
}
.mobile_hovercard a {
    color: #ffffff;
    display: block;
    max-width: 25%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.8em;
    border-radius: 1em;
    border: solid;
}
.mobile_hidden {
    transform: translateY(110%);
    box-shadow: none;
}
.mobile_hovercard {
    transition: transform 0.3s ease-out;
    -webkit-transform 0.3s ease-out;
}

.right {
    position: relative;
    right: auto;
    float: right;
    color: #ccc;
    padding: 6px;
}
.right:hover {
    cursor: pointer;
    background: #df8787;
    color: white;
    border-radius: 8px;
}
/* tr > td { */
/*     background: lightpink; */
/* } */
/* td + td { */
/*     background: lightgreen; */
/* } */
