@font-face { font-family: "Confluence C2" ; src: url("confluence_c2_regular.woff") format("woff")     ; font-weight:normal ; }
@font-face { font-family: "Confluence C2" ; src: url("confluence_c2_bold.woff") format("woff")        ; font-weight:bold   ; }

@font-face { font-family: "Confluence C3" ; src: url("subset/confluence_c3_regular.subset.woff") format("woff")     ; font-weight:normal ; }
@font-face { font-family: "Confluence C3" ; src: url("subset/confluence_c3_bold.subset.woff") format("woff")        ; font-weight:bold   ; }

@font-face { font-family: "Confluence C4" ; src: url("confluence_c4_regular.woff") format("woff")     ; font-weight:normal ; }
@font-face { font-family: "Confluence C4" ; src: url("confluence_c4_bold.woff") format("woff")        ; font-weight:bold   ; }

@font-face { font-family: "Confluence C6" ; src: url("confluence_c6_regular.woff") format("woff")     ; font-weight:normal ; }
@font-face { font-family: "Confluence C7" ; src: url("confluence_c7_regular.woff") format("woff")     ; font-weight:normal ; }
@font-face { font-family: "Confluence C8" ; src: url("confluence_c8_regular.woff") format("woff")     ; font-weight:normal ; }

@font-face { font-family: "Confluence T2" ; src: url("confluence_t2_regular.woff") format("woff")     ; font-weight:normal ; }
@font-face { font-family: "Confluence T2" ; src: url("confluence_t2_italic.woff") format("woff")      ; font-weight:normal ; font-style:italic ; }
@font-face { font-family: "Confluence T2" ; src: url("confluence_t2_bold.woff") format("woff")        ; font-weight:bold   ; }
@font-face { font-family: "Confluence T2" ; src: url("confluence_t2_bold_italic.woff") format("woff") ; font-weight:bold   ; font-style:italic ; }

@font-face { font-family: "Confluence T3" ; src: url("confluence_t3_regular.woff") format("woff")     ; font-weight:normal ; }
@font-face { font-family: "Confluence T3" ; src: url("confluence_t3_italic.woff") format("woff")      ; font-weight:normal ; font-style:italic ; }
@font-face { font-family: "Confluence T3" ; src: url("confluence_t3_bold.woff") format("woff")        ; font-weight:bold   ; }
@font-face { font-family: "Confluence T3" ; src: url("confluence_t3_bold_italic.woff") format("woff") ; font-weight:bold   ; font-style:italic ; }

@font-face { font-family: "Confluence T4" ; src: url("confluence_t4_regular.woff") format("woff")     ; font-weight:normal ; }
@font-face { font-family: "Confluence T4" ; src: url("confluence_t4_italic.woff") format("woff")      ; font-weight:normal ; font-style:italic ; }
@font-face { font-family: "Confluence T4" ; src: url("confluence_t4_bold.woff") format("woff")        ; font-weight:bold   ; }
@font-face { font-family: "Confluence T4" ; src: url("confluence_t4_bold_italic.woff") format("woff") ; font-weight:bold   ; font-style:italic ; }

@font-face { font-family: "Confluence T6" ; src: url("confluence_t6_regular.woff") format("woff")     ; font-weight:normal ; }
@font-face { font-family: "Confluence T6" ; src: url("confluence_t6_italic.woff") format("woff")      ; font-weight:normal ; font-style:italic ; }

@font-face { font-family: "Confluence T7" ; src: url("confluence_t7_regular.woff") format("woff")     ; font-weight:normal ; }
@font-face { font-family: "Confluence T7" ; src: url("confluence_t7_italic.woff") format("woff")      ; font-weight:normal ; font-style:italic ; }

@font-face { font-family: "Confluence T8" ; src: url("confluence_t8_regular.woff") format("woff")     ; font-weight:normal ; }
@font-face { font-family: "Confluence T8" ; src: url("confluence_t8_italic.woff") format("woff")      ; font-weight:normal ; font-style:italic ; }
