@font-face { font-family: "Fairplay Caps A-bold"    ; src: url("fairplay_caps_a_bold.eot?#iefix")    ; font-weight:bold   ; }
@font-face { font-family: "Fairplay Text A-bold"    ; src: url("fairplay_text_a_bold.eot?#iefix")    ; font-weight:bold   ; }
@font-face { font-family: "Fairplay Text A-italic"  ; src: url("fairplay_text_a_italic.eot?#iefix")  ; font-weight:normal ; font-style:italic ; }
@font-face { font-family: "Fairplay Text A-regular" ; src: url("fairplay_text_a_regular.eot?#iefix") ; font-weight:normal ; }
@font-face { font-family: "Confluence C3-regular"   ; src: url("confluence_c3_regular.eot?#iefix")   ; font-weight:normal ; }
@font-face { font-family: "Confluence C3-bold"      ; src: url("confluence_c3_bold.eot?#iefix")      ; font-weight:bold   ; }
h1 {
    font-family: "Fairplay Caps A-bold";
}
h2 {
    font-family: "Fairplay Text A-bold";
}
h4 {
    font-family: "Confluence C3-bold";
}
.path {
    font-family: "Fairplay Text A-italic";
}
body, #content{
    font-family: "Fairplay Text A-regular";
}
em {
    font-family: "Fairplay Text A-italic";
}
.floating_container *, select {
    font-family: "Confluence C3-regular";
}


#content {
    behavior: url(PIE.htc);
}
.floating_button {
    behavior: url(PIE.htc);
    position: relative;
}
.floating_button_clicked {
    border: solid 2px #888;
    border-radius: 0% 0% 20% 20%;
    background-color: #888;
    behavior: url(PIE.htc);
}
.floating_options {
    border: solid 0px #888;
    border-radius: 6px 6px 0px 6px ;
    behavior: url(PIE.htc);
    position: relative;

}
.option_temperature_container, .option_temperature_container * {
    margin: 0;
}
.option_header {
    border: solid 2px #888;
    border-radius: 6px;
    behavior: url(PIE.htc);
    position: relative;
    -pie-background: brown;
}
.option_last {
    border: solid 2px #888;
    border-radius: 0px 0px 0px 6px;
    behavior: url(PIE.htc);

}
